.about {
  flex-direction: column;
  padding: 5rem;
}

.about h1 {
  font-size: 3rem;
  color: var(--blue);
  margin-bottom: 2rem;
}

.about div {
  color: var(--grey);
  line-height: 25px;
}

.about div h4 {
  font-size: 1.5rem;
  font-weight: 700;
}

/* Extra Small (XS) */
@media (max-width: 575px) {
  .about {
    flex-direction: column;
    padding: 1rem;
  }

  .about h1 {
    font-size: 2rem;
  }
}

/* Small (SM) */
@media (min-width: 575px) and (max-width: 767px) {
  .about {
    flex-direction: column;
    padding: 2rem;
  }

  .about h1 {
    font-size: 2rem;
  }
}

/* Medium (MD) */
@media (min-width: 767px) and (max-width: 991px) {
  .about {
    flex-direction: column;
    padding: 3rem;
  }

  .about h1 {
    font-size: 2rem;
  }
}
