.browse-range {
  flex-direction: column;
  padding: 3rem;
}
.img-div {
  margin-top: 3rem;
  gap: 2rem;
}
.img-span {
  flex-direction: column;
  gap: 1rem;
}

.heading {
  flex-direction: column;
}

.heading p {
  color: var(--grey);
}
.heading h1 {
  margin-bottom: 1rem;
  font-size: 2rem;
}
