.cart-wrapper {
  width: 100%;
}

.cart-container {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding: 5rem;
  width: 100%;
  max-width: 1600px;
}

.cart-header h2 {
  margin: 0;
  font-size: 3rem;
  color: var(--blue);
  font-weight: 900;
}

.close-cart-button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

.cart-items {
  padding: 20px;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 2rem;
  padding-right: 4rem;
  margin-bottom: 20px;
  position: relative;
}

.cart-item img {
  width: 10rem;
  height: 10rem;
}

.item-details {
  margin-top: 1rem;
  margin-right: 1rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.item-details h3 {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
.price-span {
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
  align-items: center;
}
.price-span p {
  margin: 0.2rem;
}
.cart-footer {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  padding: 20px;
}

.checkout-button {
  background-color: var(--blue);
  color: var(--white);
  border: none;
  font-weight: 600;
  height: 3rem;
  text-align: center;
  width: 7rem;
  padding: 1rem;
  cursor: pointer;
  transition: all;
  transition-duration: 0.5s;
}
.checkout-button:hover {
  background-color: var(--white);
  color: var(--grey);
  border: 2px solid var(--grey);
}
.clear-all {
  background-color: var(--white);
  color: var(--red);
  border: 2px solid var(--red);
  font-weight: 600;
  height: 3rem;
  text-align: center;
  width: 7rem;
  padding: 1rem;
  cursor: pointer;
  transition: all;
  transition-duration: 0.5s;
}
.clear-all:hover {
  background-color: var(--red);
  color: var(--white);
  border: none;
}
.btn-container {
  gap: 1rem;
}
.line {
  width: 100%;
  height: 0.1rem;
  background-color: var(--blue);
}

.amount-button button {
  height: 2rem;
  width: 3rem;
  font-size: 1.2rem;
  font-weight: 600;
  background-color: var(--grey);
  color: var(--white);
  border: none;
  transition: all;
  transition-duration: 0.5s;
}
.amount-button button:hover {
  background-color: black;
}

.amount-button span {
  height: 1.9rem;
  width: 3rem;
  font-family: 1rem;
  font-weight: 600;
  background-color: var(--white);
  border-top: 1px solid var(--grey);
  border-bottom: 1px solid var(--grey);
  transition: all;
  transition-duration: 0.5s;
}

.price-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.price-head p {
  font-weight: 600;
  font-size: 1.3rem;
}

.remove-btn {
  position: absolute;
  right: 1rem;
  top: 0.5rem;
}

.remove-btn:hover {
  color: var(--red);
}

.no-items {
  font-size: 2rem;
  padding: 3rem;
  margin: 3rem;
}

/* Extra Small (XS) */
@media (max-width: 575px) {
  .cart-item {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .item-details h3 {
    font-size: 1rem;
  }
  .cart-container {
    padding: 0.5rem;
    margin-top: 2rem;
  }
  .cart-header h2 {
    font-size: 2rem;
  }
  .price-head {
    padding: 0.5rem;
  }
  .price-head p {
    font-size: 1rem;
  }
  .clear-all {
    height: 2rem;
    width: 5rem;
    white-space: nowrap;
  }
  .btn-container {
    gap: 0.5rem;
  }
  .checkout-button {
    height: 2.2rem;
    width: 5rem;
  }
  .cart-item img {
    width: 6rem;
    height: 6rem;
  }
}

/* Small (SM) */
@media (min-width: 576px) and (max-width: 767px) {
  .cart-item {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .item-details h3 {
    font-size: 1rem;
  }
  .cart-container {
    padding: 0.5rem;
    margin-top: 3rem;
  }
  .cart-header h2 {
    font-size: 2rem;
  }
  .price-head {
    padding: 0.5rem;
  }
  .price-head p {
    font-size: 1rem;
  }
  .clear-all {
    height: 2rem;
    width: 6rem;
  }
  .checkout-button {
    height: 2.2rem;
    width: 6rem;
  }
  .cart-item img {
    width: 6rem;
    height: 6rem;
  }
}
