footer {
  background: var(--blue);
  width: 100%;
}

.footer-wrapper {
  padding: 5rem;
  color: var(--white);
  gap: 2rem;
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1600px;
}

.img-map {
  gap: 0.5rem;
  flex-wrap: wrap;
}

.img-map img {
  border-radius: 5px;
  height: 12rem;
  width: 12rem;
}

.beauty h4,
.follow h4,
.ig-shop h4 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.beauty p {
  color: var(--white);
}

.icon span {
  padding-right: 1rem;
}

.icon span svg:hover {
  color: var(--grey);
}

.beauty-parent {
  width: 40%;
}

.ig-shop {
  width: 60%;
}

/* Extra Small (XS) */
@media (max-width: 575px) {
  footer {
    flex-wrap: wrap;
    padding: 2rem;
  }
  .img-map {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .img-map img {
    height: 10rem;
    width: 10rem;
  }
  .beauty-parent {
    width: 100%;
  }

  .ig-shop {
    width: 100%;
  }
}

/* Small (SM) */
@media (min-width: 576px) and (max-width: 767px) {
  .footer-wrapper {
    flex-wrap: wrap;
    padding: 2rem;
  }
  .img-map {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .img-map img {
    height: 10rem;
    width: 10rem;
  }
  .beauty-parent {
    width: 100%;
  }
  .ig-shop {
    width: 100%;
  }
}

/* Medium (MD) */
@media (min-width: 768px) and (max-width: 991px) {
  .footer-wrapper {
    flex-wrap: wrap;
    padding: 3rem;
  }
  .img-map {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .beauty-parent {
    width: 100%;
  }
  .ig-shop {
    width: 100%;
  }
}

/* Large (LG) */
@media (min-width: 992px) and (max-width: 1199px) {
  .img-map {
    flex-wrap: wrap;
  }
  .img-map img {
    height: 12rem;
    width: 12rem;
  }
}
