.girl-section {
  padding: 7rem;
  height: 30rem;
  gap: 4rem;
  background-color: var(--bg-blue);
}

.image-section {
  position: relative;
  width: 35%;
}

.image-section img {
  height: 36rem;
  width: 25rem;
  border-top-left-radius: 50px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 12px;
  position: relative;
  z-index: 2;
}

.sphere {
  width: 19rem;
  height: 19rem;
  background-color: #09513b;
  border-radius: 50%;
  position: absolute;
  top: 12rem;
  left: 8.5rem;
  z-index: 1;
}

.text-section {
  width: 60%;
}

.text-section h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.text-section p {
  color: var(--grey);
  font-size: 1rem;
  font-weight: 450;
}

.text-section button {
  background-color: var(--blue);
  color: var(--white);
  font-weight: 550;
  font-size: 0.8rem;
  text-transform: uppercase;
  height: 3rem;
  padding: 0.5rem;
  cursor: pointer;
  width: 10rem;
  border: none;
  border-radius: 30px;
}

.text-section button:hover {
  background-color: var(--bg-blue);
  border: 2px solid var(--blue);
  color: var(--blue);
  transition: all;
  transition-duration: 0.4s;
}

/* Extra Small (XS) */
@media (max-width: 575px) {
  .girl-section {
    flex-wrap: wrap-reverse;
    height: max-content;
    padding: 2rem;
  }
  .image-section img {
    height: 22rem;
    width: 15rem;
  }
  .sphere {
    width: 8rem;
    height: 8rem;
  }
  .image-section {
    width: 100%;
  }
  .text-section {
    width: 100%;
  }
}

/* Small (SM) */
@media (min-width: 575px) and (max-width: 767px) {
  .girl-section {
    flex-wrap: wrap-reverse;
    height: max-content;
    padding: 2rem;
  }
  .image-section img {
    height: 30rem;
    width: 20rem;
  }
  .sphere {
    width: 15rem;
    height: 15rem;
  }
  .image-section {
    width: 100%;
  }
  .text-section {
    width: 100%;
  }
}

/* Medium (MD) */
@media (min-width: 767px) and (max-width: 991px) {
  .girl-section {
    padding: 4rem;
  }
  .image-section img {
    height: 32rem;
    width: 20rem;
  }
  .sphere {
    width: 14rem;
    height: 14rem;
  }
  .text-section {
    width: 50%;
  }
  .image-section {
    width: 50%;
  }
}

/* Large (LG) */
@media (min-width: 991px) and (max-width: 1199px) {
  .image-section img {
    height: 32rem;
    width: 20rem;
  }
  .sphere {
    width: 14rem;
    height: 14rem;
  }
}
