.icons {
  flex-direction: row;
  gap: 3rem;
  padding: 5rem;
  background-color: var(--bg-blue);
  flex-wrap: wrap;
}

.single-icon {
  gap: 1rem;
}

.single-icon h3 {
  font-weight: 700;
}

.single-icon p {
  color: var(--grey);
  font-weight: 400;
}

.single-icon img {
  height: 3rem;
}
