.navbar {
  height: 5rem;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--white);
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.logo {
  font-size: 1.5rem;
  color: var(--blue);
  font-weight: 600;
  cursor: pointer;
}

.nav-link ul {
  flex-direction: row;
}

.nav-link ul li {
  list-style: none;
  padding-left: 2rem;
  padding-right: 2rem;
}

.nav-link ul li a {
  text-decoration: none;
  color: var(--black);
  font-weight: 600;
}

.nav-link ul li a:hover {
  color: var(--blue);
  transition: all;
  transition-duration: 1s;
}

.cart {
  height: 2rem;
  width: 2rem;
}

/* Extra Small (XS) */
@media (max-width: 575px) {
  .nav-link {
    display: none;
  }
}

/* Small (SM) */
@media (min-width: 576px) and (max-width: 767px) {
  .nav-link {
    display: none;
  }
}

/* Medium (MD) */
@media (min-width: 768px) and (max-width: 991px) {
  .nav-link {
    display: none;
  }
}
