.product-page {
  align-items: flex-start;
  padding: 4rem;
  gap: 2rem;
}

.img-parent {
  flex-direction: column;
  justify-content: flex-start;
  gap: 3rem;
  width: max-content;
}

.img-parent img {
  height: 30rem;
  width: 32rem;
}

.img-child {
  justify-content: flex-start;
  gap: 1rem;
}

.img-child img {
  height: 10rem;
  width: 10rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.details-container {
  background-color: var(--bg-grey);
  color: var(--black);
  padding: 3rem;
  height: 29rem;
  width: 35rem;
  position: relative;
}

.value-buttons {
  justify-content: flex-start;
}

.value-buttons button {
  height: 3rem;
  width: 4rem;
  color: black;
  border: none;
  background-color: var(--white);
  padding: 0.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  border: 1px solid black;
}

.value-buttons p {
  height: 1.9rem;
  width: 2rem;
  padding: 0.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  background-color: var(--bg-grey);
  color: var(--black);
  padding-left: 1rem;
  padding-right: 1rem;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.quantity-box {
  justify-content: flex-start;
  gap: 3rem;
  margin-top: 4rem;
  position: absolute;
  bottom: 12rem;
}

.price {
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
  position: absolute;
  bottom: 10rem;
}

.button-box {
  width: 42rem;
  height: 4rem;
  gap: 1rem;
  justify-content: flex-start;
  position: absolute;
  bottom: 4rem;
}

.button-box button {
  height: 3.5rem;
  width: 35%;
  font-weight: 600;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 0.5rem;
  transition: all;
  transition-duration: 0.5s;
}

.cart-button,
.added-button {
  background-color: var(--bg-grey);
  color: var(--black);
  border: 2px solid var(--black);
}
.cart-button:hover,
.added-button:hover {
  background-color: var(--black);
  color: var(--white);
  border: none;
}

.buy-button {
  margin-left: 2rem;
  background-color: var(--red);
  color: var(--white);
  border: none;
}

.buy-button:hover {
  background-color: var(--white);
  color: var(--red);
  border: 2px solid var(--red);
}

.texture-box {
  gap: 2rem;
  margin-top: 2rem;
}
.texture-box span {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  background-color: var(--bg-grey);
  color: var(--black);
  gap: 0.5rem;
  padding: 1rem;
  width: 10rem;
}

.texture-box span h1 {
  font-size: 1.2rem;
  margin: 0;
  margin-bottom: 0.5rem;
  font-weight: 800;
}
.texture-box span p {
  font-size: 1rem;
  margin: 0;
  font-weight: 500;
}

/* Extra Small (XS) */
@media (max-width: 575px) {
  /* Your CSS rules for mobile devices in portrait mode */
}

/* Small (SM) */
@media (min-width: 576px) and (max-width: 767px) {
  /* Your CSS rules for mobile devices in landscape mode and small tablets */
}

/* Medium (MD) */
@media (min-width: 768px) and (max-width: 991px) {
  .product-page {
    flex-direction: column;
  }
}

/* Large (LG) */
@media (min-width: 992px) and (max-width: 1200px) {
  .procuct-page {
    padding: 3rem;
    gap: 1rem;
  }
  .img-parent img {
    width: 28rem;
    border-spacing: 0;
  }
  .details-container {
    width: 30rem;
    padding: 2rem;
  }
  .img-child img {
    height: 8rem;
    width: 8rem;
  }
  .texture-box span {
    padding: 1rem;
    width: 8rem;
  }
}
