.shop {
  flex-direction: column;
  padding: 2rem;
}

.shop h1 {
  font-size: 3rem;
  color: var(--blue);
  margin-bottom: 1rem;
}

.item img {
  height: 14rem;
  width: 17rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding-left: 10rem;
  padding-right: 10rem;
}

.item {
  display: flex;
  align-items: flex-start;
  width: 17rem;
  flex-direction: column;
  border: 1px solid var(--grey);
  padding: 0.3rem;
}

.item:hover {
  border: 1px solid black;
  display: flex;
}

button {
  background-color: var(--blue);
  height: 2.5rem;
  font-weight: 600;
  font-size: 0.8rem;
  text-transform: uppercase;
  padding: 0.5rem;
  width: 6rem;
  color: var(--white);
  border: none;
}

button:hover {
  opacity: 0.9;
}

.text-container h4 {
  font-size: 1.5rem;
  margin: 0;
  margin-top: 1rem;
}

.text-container h6 {
  font-size: 1.2rem;
  margin: 0;
  margin-bottom: 0.5rem;
}
.text-container p {
  color: var(--grey);
  font-size: medium;
  height: 3rem;
  margin-top: 5px;
  margin-bottom: 5px;
}

.tags {
  gap: 1rem;
}

.tag {
  font-size: 1rem;
  font-weight: 600;
  color: var(--grey);
  padding: 0.5rem;
  height: 1rem;
  width: auto;
  border-radius: 10px;
  box-shadow: 5px 5px solid black;
  background-color: var(--white);
  border: 1px solid var(--grey);
  cursor: pointer;
}

.tag:hover {
  background-color: var(--blue);
  color: var(--white);
  transition: all;
  transition-duration: 1s;
  border: none;
}

.bold-head {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 1rem;
}
