.shop {
  flex-direction: column;
  padding: 2rem;
}

.shop h1 {
  font-size: 3rem;
  color: var(--blue);
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.item img {
  height: 14rem;
  width: 17rem;
}

.grid {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding-left: 10rem;
  padding-right: 10rem;
}

.item {
  display: flex;
  align-items: flex-start;
  width: 17rem;
  flex-direction: column;
  border: 2px solid var(--grey);
  padding: 0.3rem;
  text-decoration: none;
  color: var(--black);
}

.item:hover {
  border: 2px solid black;
  display: flex;
}

.text-container h4 {
  font-size: 1rem;
  margin: 0;
  font-weight: 500;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.text-container h6 {
  font-size: 0.9rem;
  margin: 0;
  margin-bottom: 0.5rem;
}
.text-container p {
  color: var(--grey);
  font-size: medium;
  height: 3rem;
  margin-top: 5px;
  margin-bottom: 5px;
}

.tags {
  gap: 1rem;
}

.tag {
  font-size: 1rem;
  font-weight: 600;
  color: var(--grey);
  padding: 0.5rem;
  height: 1rem;
  width: auto;
  /* border-radius: 10px; */
  box-shadow: 5px 5px solid black;
  background-color: var(--white);
  border: 2px solid var(--grey);
  cursor: pointer;
}

.tag:hover {
  background-color: var(--grey);
  color: var(--white);
  transition: all;
  transition-duration: 1s;
}

.bold-head {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 1rem;
}

/* Extra Small (XS) */
@media (max-width: 575px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
    padding: 5px;
  }
  .item img {
    height: 8rem;
    width: 8rem;
  }
  .text-container h4 {
    font-size: 0.8rem;
    margin-top: 0.5rem;
  }

  .text-container h6 {
    font-size: 0.6rem;
    margin-bottom: 0.5rem;
  }

  .item {
    width: 10rem;
  }
  .shop {
    padding: 0.5rem;
  }

  .tags {
    gap: 0.5rem;
  }

  .tag {
    font-size: 0.8rem;
    font-weight: 600;
    color: var(--grey);
    padding: 0.5rem;
    height: 0.8rem;
  }
  .cart-button,
  .cart-button:hover,
  .added-button,
  .added-button:hover {
    height: 2rem;
    font-size: 0.6rem;
    width: 3.5rem;
  }
  .shop h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
  .bold-head {
    font-size: 0.8rem;
    margin: 0;
  }
}

/* Small (SM) */
@media (min-width: 576px) and (max-width: 767px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .item img {
    height: 8rem;
    width: 8rem;
  }
  .text-container h4 {
    font-size: 1rem;
    margin-top: 0.5rem;
  }

  .text-container h6 {
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
  }
  .bold-head {
    font-size: 0.8rem;
  }
}

/* Medium (MD) */
@media (min-width: 768px) and (max-width: 991px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
    padding-left: 5rem;
    padding-right: 5rem;
  }
  .item img {
    height: 12rem;
    width: 15rem;
  }
  .text-container h4 {
    font-size: 1.2rem;
    margin-top: 0.5rem;
  }

  .text-container h6 {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
  }
}

/* Large (LG) */
@media (min-width: 992px) and (max-width: 1199px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding-left: 7rem;
    padding-right: 7rem;
  }
  .item img {
    height: 12rem;
    width: 15rem;
  }
}
