.row-item {
  outline: 2px solid var(--border-grey);
  cursor: pointer;
  transition: all 0.15s ease-in;
  height: max-content;
  width: 16rem;
  padding: 1rem;
}

.row-item:hover {
  outline: 2px solid var(--border-hover);
}

.title-btns h3 {
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.row-container {
  display: flex;
  gap: 1rem;
  width: 80%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
  position: relative;
  padding: 1rem 0.6rem;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.row-container::-webkit-scrollbar {
  display: none;

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.title-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.btns button {
  color: white;
  background-color: #373737;
  padding: 0.5rem;
  border: none;
  height: 3rem;
  width: 3rem;
  cursor: pointer;
  transition: all 0.1s ease-in;
}

.btns {
  display: flex;
  gap: 0.4rem;
}

.btns button:hover {
  background-color: black;
}

.item-1 {
  display: flex;
  align-items: flex-start;
  width: 12rem;
  flex-direction: column;
  border: 2px solid var(--border-grey);
  padding: 1rem;
  text-decoration: none;
  color: var(--black);
}

.item-1:hover {
  border: 2px solid var(--border-hover);
  display: flex;
}

.item-1 img {
  height: 12rem;
  width: 12rem;
}

.text-container-1 h4 {
  font-size: 1rem;
  margin: 0;
  font-weight: 500;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.text-container-1 h6 {
  display: flex;
  font-size: 1rem;
  margin: 0;
  margin-bottom: 0.5rem;
}

/* Extra Small (XS) */
@media (max-width: 575px) {
  .item-1 {
    width: 8rem;
  }

  .item-1 img {
    height: 8rem;
    width: 8rem;
  }

  .text-container-1 h4 {
    font-size: 1rem;
  }

  .text-container-1 h6 {
    font-size: 1rem;
  }
  .title-btns h3 {
    font-size: 1.4rem;
  }
  .btns button {
    height: 2rem;
    width: 2rem;
  }
}

/* Small (SM) */
@media (min-width: 575px) and (max-width: 767px) {
  .item-1 {
    width: 8rem;
  }
  .item-1 img {
    height: 8rem;
    width: 8rem;
  }

  .text-container-1 h4 {
    font-size: 1rem;
  }

  .text-container-1 h6 {
    font-size: 1rem;
  }
  .title-btns h3 {
    font-size: 1.4rem;
  }
  .btns button {
    height: 2.5rem;
    width: 2.5rem;
  }
}

/* Medium (MD) */
@media (min-width: 767px) and (max-width: 991px) {
  .item-1 {
    width: 10rem;
  }

  .item-1 img {
    height: 10rem;
    width: 10rem;
  }

  .text-container-1 h4 {
    font-size: 1rem;
  }

  .text-container-1 h6 {
    font-size: 1rem;
  }
  .title-btns h3 {
    font-size: 1.4rem;
  }
  .btns button {
    height: 2.5rem;
    width: 2.5rem;
  }
}
