.row-item {
  outline: 2px solid var(--border-grey);
  cursor: pointer;
  transition: all 0.15s ease-in;
  height: max-content;
  width: 16rem;
  padding: 1rem;
}

.row-item:hover {
  outline: 2px solid var(--border-hover);
}

.trending {
  padding-bottom: 10rem;
}

.trending h3 {
  font-size: 2.6rem;
  font-weight: 600;
  margin-bottom: 4.2rem;
}

.row-container {
  display: flex;
  gap: 2.2rem;
  width: 80%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
  position: relative;
  padding: 1rem 0.6rem;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.row-container::-webkit-scrollbar {
  display: none;

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.title-btns {
  display: flex;
  justify-content: space-between;
}

.btns button {
  color: white;
  background-color: #373737;
  padding: 1rem;
  font-size: 1.5rem;
  border: none;
  height: 4rem;
  width: 4rem;
  cursor: pointer;
  transition: all 0.1s ease-in;
}

.btns {
  display: flex;
  gap: 0.4rem;
}

.btns button:hover {
  background-color: black;
}

.item-1 {
  display: flex;
  align-items: flex-start;
  width: 14rem;
  flex-direction: column;
  border: 2px solid var(--border-grey);
  padding: 1rem;
  text-decoration: none;
  color: var(--black);
}

.item-1:hover {
  border: 2px solid var(--border-hover);
  display: flex;
}

.item-1 img {
  height: 15rem;
  width: 15rem;
}

.text-container-1 h4 {
  font-size: 1rem;
  margin: 0;
  font-weight: 500;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.text-container-1 h6 {
  font-size: 0.9rem;
  margin: 0;
  margin-bottom: 0.5rem;
}
.text-container-1 p {
  color: var(--grey);
  font-size: medium;
  height: 3rem;
  margin-top: 5px;
  margin-bottom: 5px;
}
